<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<false/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_ad-hoc-uwb._tcp</string>
		<string>_ad-hoc-uwb._udp</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Playing ad hoc loudspeaker array</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
